.main-container{
    display: flex;
    flex-direction: column;
    width:401px;
    height: 601px;
    .section-container{
        display: flex;
        flex-direction: row;
        .container-numbers{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width:300px;
        }
        .container-operations{
            display: flex;
            flex-direction: column;
        }
        .large-btn{
            width: 300px;
            height: 100px;
            font-size: 43px;
            box-sizing: border-box;
            border: 1px solid white;
            background-color: rgb(199, 195, 195);
            color: #2e3033;
            &:focus, &:active{
                outline: none; 
            }
            &:active{
                background-color: darken(rgb(199, 195, 195), 10%);
            }
        }
    }
    
}