.display{
    background-color: #212529;
    color: white;
    width: 400px;
    height: 100px;
    font-size: 43px;
    border: none;
    text-align: right;

    box-sizing: border-box;
    padding: 10px;
    
    
    &:focus, &:active{
        outline: none; 
    }
}